@model FunApp.Services.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var joke in Model.Jokes)
    {
        <div class="col-md-4 clearfix">
            <div class="card">
                <div class="card-body">@joke.Content</div>
                <div class="card-footer">
                    @joke.CategoryName
                    <a class="btn btn-outline-secondary btn-sm" asp-controller="Jokes" asp-action="Details" asp-route-id="@joke.Id">View</a>
                </div>
            </div>
        </div>
    }
</div>
